.fake-link {
	text-decoration: none;
	cursor: pointer;	
}

body {
	margin: 0;
	font-family: "arial", monospace;
	font-size: 12pt;
}

#left_panel {
	position: fixed;
	left: 50px;
	top:0px;
	bottom: 0px;
	overflow: hidden;
	width: 150px;
	height: 100%;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 35px rgb(182, 182, 182);
}

.forBackground{
	min-height: 700px;
	overflow: hidden; 
	z-index:-1;
}

.section {
	min-height: 700px;
	padding-left: 300px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right: 10px;
	/*box-shadow: inset 1px -9px 20px -6px #000;*/
}

.projsubsection {
	min-height: 700px;
	overflow: auto;
	width:770px;
	padding-left: 310px;
	padding-top:60px;
	padding-bottom: 20px;
	padding-right: 183px;
}

.Contents {
	width: 65%;
	top:100px;
	position: relative;
	margin: 0px;
	/*color: white;*/
	/*background-color:#2f2f2f;*/
	/*background-color:rgba(0,0,0,0.6);*/
	/*color:#2f2f2f;*/
	color:black;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	font-size: 10pt;
	overflow: hidden;
	padding: 25px;
	cursor: pointer;
}

#Projects{
	background-repeat: repeat;
	background-size: 10px;
}

#ProjectContents {
	width: 860px;
	height: 450px;
	margin-top: 80px;
	background-color:rgba(255,255,255,0.8);
}

#logo {
	overflow: hidden;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 5px;
	opacity: 1;
}

#nav {
	min-height: 100%;
	padding-top: 20px;
	opacity: 1;
}
#menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

.menu-item {
	/*background-color: #f9f9f9;*/
	margin-bottom: 5px;
	font-size: 14pt;
        color:#403D3E;
/*	color: #6b6b64;*/
	padding: 8px;
	opacity: 0.8;
	
}

.menu-item:hover  {
	/*background-color: #f9f9f9;*/
	color: #d91844;
	margin-bottom: 5px;
	font-size: 14pt;
/*	font-weight: bold;*/
	padding: 8px;
/*	border-left: 6px solid #d91844;*/
}

.menu-item-selected  {
/*	background-color: #f9f9f9;*/
	color: #d91844;
	margin-bottom: 5px;
	font-size: 14pt;
/*	font-weight: bold;*/
	padding: 8px;
/*	border-left: 6px solid #d91844;*/
}

.submenu-list {
	/*background-color: #fcfcfc;*/
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 10pt;
        color:#403D3E;
	/*color:#6b6b64;*/
	padding: 5px;
	list-style: none;
	opacity: 0.8;
	text-align:center;	
	display: none;
}
.submenu-item {
	padding-bottom: 5px;
}

.submenu-item:hover  {
	/*font-size: 12pt;
	font-weight: bold;*/
	padding-bottom: 5px;
	color: #d91844;
}

.submenu-item-selected  {
	/*font-size: 12pt;
	font-weight: bold;*/
	padding-bottom: 5px;
	color: #d91844;
}


#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	background-color: #ffffff;
	opacity: 0.7;
	overflow: hidden;
	font-size: 8pt;
}

.footer-component {
	position: fixed;
	overflow: hidden;
	
}

#copyright {
	left: 50px;
	width:200px;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

#credit {
	right:0px;
	text-align: right;
	padding: 5px 10px 5px 5px;
}